body {
    background-color: #66c7c7;
}
h1 {
    color: red; font-size: 50px;
}
img: hover{
    background-color: pink;
}
h2 {
    color: green;
}
h4 {
    color: blue;
}
h3 {
    color:green;
}
hr {
    background-colour: rgb(183, 46, 46);
    border-style: dotted;
    border-color: grey;
    border-width: 10px;
    height: 5px;
    width: 5%;
}